<header>
    <div class="container"> 
        <div class="row"> 
            <div>
                <h2 id="work"><br></h2>
                <h2><br></h2>
                <h2>WORK</h2>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <app-musicplayer></app-musicplayer>
            </div>
            <div class="col-md">
                <app-musicplayer></app-musicplayer>
            </div>
            <div class="col-md">
                <app-musicplayer></app-musicplayer>
            </div>
          
        </div>
    </div>
   
</section>

