<header>
    <div class="container"> 
        <div class="row"> 
            <div>
                <h2 id="work"><br></h2>
                <h2><br></h2>
                <h2>WORK</h2>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div>
                <h3>Game Audio - Adaptative Music - Vertical Remix</h3>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <app-musicplayer></app-musicplayer>
            </div>
            <div class="col-md">
                <app-musicplayer2></app-musicplayer2>
            </div>
            <div class="col-md">
                <app-musicplayer3></app-musicplayer3>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div>
                <h3>Original Audio Slices</h3>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <app-musicplayer4></app-musicplayer4>
            </div>
            <div class="col-md">
                <app-musicplayer5></app-musicplayer5>
            </div>
            <div class="col-md">
                <app-musicplayer6></app-musicplayer6>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h3>Videogames Audio Demo</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="video">
                    <video width="854" height="480" controls>
                        <source src="./../../../assets/video/01.mp4" type="video/mp4">
                        <source src="" type="video/ogg">
                      Your browser does not support the video tag.
                      </video> 
                </div>
            </div>
            
            <div class="row">
                <div class="col-md">
                    <p>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful."</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="video">
                        <video width="854" height="480" controls>
                            <source src="./../../../assets/video/RAV.mp4" class="object-fit-fill" type="video/mp4">
                            <source src="" type="video/ogg">
                          Your browser does not support the video tag.
                          </video> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <p>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful."</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        
    </div>
</section>

