section {
    margin-bottom: 8%;
    padding-top: 0%;
}

h1, h2 {
    justify-content: center;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: clamp(20px, 4vw, 40px);
    color: whitesmoke;
}

h2 {  justify-content: center;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: clamp(15px, 3vw, 30px);
}

a {
    text-decoration: none;
    outline: none;
}

button {
    background-color: #D4BD79;
    border: 2px solid whitesmoke;
    padding: 1%;
    margin: 3%;
    padding-bottom: 0.1%;
}

p {
    letter-spacing: 0.2em;
    font-size:larger;
    color: rgb(0, 0, 0);
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 1000;
}

