

<head>
  <meta charset="UTF-8">
  <title>CodePen - Card Hover Interactions</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<!-- partial:index.partial.html -->
<main class="page-content">
  <div class="card">
    <div class="content">
      <h2 class="title">Audio</h2>
      <ul>
        <li><h4>Reaper</h4></li>
        <li><h4>Reaper</h4></li>
        <li><h4>Reaper</h4></li>
        <li><h4>Reaper</h4></li>
        <li><h4>Reaper</h4></li>
        <li><h4>Reaper</h4></li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">Videojuegos</h2>
      <ul>
        <li><h4>Reaper</h4></li>
        <li><h4>Reaper</h4></li>
        <li><h4>Reaper</h4></li>
        <li><h4>Reaper</h4></li>
        <li><h4>Reaper</h4></li>
        <li><h4>Reaper</h4></li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">Programación</h2>
      <ul>
        <li><h4>Reaper</h4></li>
        <li><h4>Reaper</h4></li>
        <li><h4>Reaper</h4></li>
        <li><h4>Reaper</h4></li>
        <li><h4>Reaper</h4></li>
        <li><h4>Reaper</h4></li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">Idiomas</h2>
      <ul>
        <li><h4>Español (Nativo)</h4></li>
        <li><h4>Ingles (Avanzado)</h4></li>
        <li><h4>Japones (Principiante)</h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>

      </ul>
    </div>
  </div>
</main>
<!-- partial -->
  
</body>


