<div class="container">
    <div class="row">
        <p>Mi consulta creo que no tiene que ver con el tema tratado aqui, pero no encuentro donde  solucionar mi tema, la cuestion es que no logro colgar imagenes en mi blog por que las que tengo guardades en Mi galeria solo son JPG y no tienen direccion URL o http como me solicita en algunos sitios, Por ejemplo unas fotos que recibi x correo no tienen direccion y no puedo subirlas a mi blog, como tengo que hacer para crearles una direccion?</p>
    </div>
    <div class="row">
        <div>
            <div class="link" style="display: flex; justify-content:left; align-items: left;">
                <app-redes></app-redes>
            </div>
        </div>
    </div>
 </div>

 