<div class="container">
    <div class="row">
        <p>Para mí, el sonido y el silencio emocionan, cuentan historias e inspiran; llegan a dónde ninguna otra forma de expresión puede llegar y expanden los límites de cualquier visión. Mi objetivo es fusionar aspectos técnicos y creativos a fin de alcanzar experiencias cautivadoras y únicas acompañando conceptos audiovisuales. </p>
    </div>
    <div class="row">
        <div>
            <div class="link" style="display: flex; justify-content:left; align-items: left;">
                <app-redes></app-redes>
            </div>
        </div>
    </div>
 </div>

 